

<!-- templates/registration/login.html -->
{% extends 'base.html' %}


{% block title %}Login{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="/static/css/test.css">
<p style="text-align: center;"><br></p>
<main>
    <link rel="stylesheet" type="text/css" href="/static/css/test.css">
    <h2 style="text-align: center;"><br></h2>
    <h2 style="text-align: center;"><img src="/static/images/loginicon.gif" style="width: 238px;" class="fr-fic fr-dib"></h2>
    <h2 style="text-align: center;"><br></h2>
    <h2 style="text-align: center;"><span style="font-family: Courier, serif; color: rgb(71, 85, 119);">Login</span></h2>
    <p><br></p>
    <form method="post" style="text-align: center;"><input type="hidden" name="csrfmiddlewaretoken" value="e88GAXFCsYaj2AmkctzCRhgxQTHFNMhxRqWGhk0OhM0cK0qB4pZaahouabkMdD8l">
        <!-- for security -->
        {% csrf_token %}
        <p style="text-align: center;"><label for="id_username"><span style="font-family: Impact,Charcoal,sans-serif;">Username:</span> &nbsp; &nbsp;&nbsp;</label><input type="text" name="username" autofocus="" required="" id="id_username" value=""></p>
        <p style="text-align: center;"><label for="id_password"><span style="font-family: Impact,Charcoal,sans-serif;">Password:</span> &nbsp; &nbsp; &nbsp;</label><input type="password" name="password" required="" id="id_password" value=""></p>
        <!-- output content between paragraph tags --><br><br><button type="submit">Login</button></form>
</main>
{% endblock %}